
/* TOP MENU */
.topmenu{
	list-style:	none;
	margin: 0 25px 0 0;
	padding-top: 15px;
	float: right;
}
#appbox{
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	box-sizing: border-box;
	height: 25px;
	width: 25px;
	opacity: 0.4;
}
#appbox:hover{
	opacity: 0.9;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	box-sizing: border-box;
	height: 25px;
	width: 25px;
}
.topmenu li{
	display:inline-block;
	padding:7px;
	
}
.topmenu li a{
	text-decoration: none;
	color: #000;
}
.topmenu a:hover{
	text-decoration: underline;
}
.topmenu li:nth-child(5n) a{
	font-family: 'Arial', sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 6px 11.5px;
	background: #4285F4;
	border: 1px solid #4285F4;
	border-radius: 2px;
}
.topmenu li:nth-child(5n) a:hover{
	text-decoration: none;
	cursor: default;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.3);
}
/* Container */
#container{
	clear:right;
	text-align: center;
	position:relative;
	top: 150px;
}
#container img{
	max-width:100%;
	height:95px;
	margin: 0 auto 0;
}
input[type="text"]{
	background: url('micg.gif') no-repeat 99% center;
	width: 40.7%;
	height: 30px;
	border:1px solid #cdcdcd;
	background-size: 15px 20px;	
	margin-top:30px;
	opacity: 0.6;
}
input[type="text"]:hover{
	border: 1px solid #9a9a9a;
}
input[type="text"]:focus{
	border: 1px solid #135dd9;
	outline: none;
	box-shadow: 0px 0px 0px;
}
/* TOOLTIP FOR MIC */
a.tip:hover:before {
	position: absolute;
	display: block;
	content: ""; 
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg); 
	border-color: rgba(0,0,0,.9) transparent transparent transparent;
	border-style: solid;
	border-width: 5px;
	height:0;
	width:0;
	position:absolute;
	top: 25px;
	left:1em;
}

	a.tip:hover:after {
	display: block;
	position: absolute; 
	padding: .5em;
	content: attr(title);
	min-width: 120px;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: 35px;
	left: -40px;
	background: rgba(0,0,0,.9);
	color: #fff;
	font-size: 1em;
}
button{
	cursor: default;
	font:  bold 11px Arial,sans-serif!important;
	vertical-align: top;
	line-height: 27px;
	text-align: center;
	background: #f1f1f1;	
	margin: 16px 8px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	height: 29px;
	min-width: 54px;
	padding: 0 8px;
	color:#222222;
}
button:hover{
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.3);
}
button:focus{
	border: 1px solid #9a9a9a;
}

/*
 SELECT LANGUAGE 
 */
.language{
	margin-top: 2em;
}
.language a{
	padding-left: 8px;
	text-decoration: none;
}
.language a:hover{
	text-decoration: underline;
}

/***************
FOOTER
*****************/
footer{
	position: fixed; 
	clear: both; 
	width: 100%; 
	height: 35px; 
	bottom: 0; 
	padding: 13px 0 0 0; 
	text-align: center;
 	color: #335500;
  	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

footer span a{
	display: inline-block;
	text-decoration:none;
	color: #666;
	font-weight: normal;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
}
.about a{
	float: left;
	padding: 0 0 0 27px;

}
.about a:hover{
	text-decoration: underline;
}

.terms a{
	float: right;
	padding: 0 27px 0 0;

}

.terms a:hover{
	text-decoration: underline;
}
a.tip {
	position: relative;
    top: -85%;
    left: -3%;
	text-decoration: none;
	color: #ffffff;
	padding: 7px 10px;
	z-index: 
}



